<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}{% endblock %}

        <style>
          
/* SLİDER */

.slider {
  width: 1120px;
  margin: 50px auto 0 auto;
}

.carousel {
  border-radius: 10px;
}

.carousel-cell {
  width: 100%;
  height: 350px;
  margin-right: 40px;
  margin-right: 40px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
  overflow: hidden;
}

.carousel-cell:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  filter: blur(4px);
  left: 0;
  top: 0%;
  z-index: -999;
  background: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.562)), url("../images/slider.jpg");
}

.slider-img {
  width: 30%;
  transform: rotate(-20deg);
  margin-right: 100px;
}

.slider-game {
  margin-right: auto;
  color: #fff;
  text-transform: uppercase;
}

.slider-game__name {
  font-size: 50px;
}

.slider-game__price {
  margin-top: 20px;
  font-size: 40px;
  width: 180px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  background: #2ecc7073;
}
        </style>
    </head>

    <body>
        {% include 'components/header.html.twig' %}
        
        <!-- ***** SLIDER-START ****** -->
        <div class="slider">
          <div class="carousel" data-flickity='{ "autoPlay": true }'>
              {% for slide in sliders %}
              <div class="carousel-cell">
                <img class="slider-img" src="{{slide.image}}" alt="">
                <div class="slider-game">
                  <div class="slider-game__name">{{slide.name}}</div>
                  <div class="slider-game__price">{{slide.price}} TL</div>
                </div>
              </div>
              {% endfor %}
          </div>
      </div>
      <!-- ***** SLIDER-END ****** -->
      
<div class="container">
  <div class="main">
  
    {% for game in games %}

      {% if game.status == "true" %}
      <div class="product">
        <a href="{{ path("game-detay", {'id': game.id} ) }}">
        <div class="product__top">
              <img class="product__top--img" src="{{ asset('images') }}/{{game.image}}" alt="">
        </div>
        </a>
        <div class="product__bottom">
          <div class="product__category">
            <p>{{game.category}}</p>
          </div>
          <div class="product__title">
            <p>{{game.name}}</p>
          </div>
          <div class="product__price">
            <p>{{game.price}}.00 ₺</p>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  

    </div>
  </div>
</div>
        {% include 'components/footer.html.twig' %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
